body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #000000;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #24272b;
}

#minhaDiv {
  background: linear-gradient(to bottom, #000000, #24272b);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 60vh;
  color: aliceblue;
  font-size: 100px;
  font-family: "Playfair Display", serif;
}

.div2 {
  background: #37383a;
  padding: 100px;
  max-width: 900px;
  margin-bottom: 300px;
  color: aliceblue;
  border-radius: 10%;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}

.div3 {
  padding: 150px;
  margin: 150px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.img {
  margin-top: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 50%;
}

img {
  width: 400px;
  height: 400px;
}

.icons {
  width: 60px;
  height: 60px;
  margin: 40px;
  transition: transform 0.3s ease;
}

.icons:hover {
  transform: scale(1.5);
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

#div2 {
  font-size: 2em;
  color: white;
  text-align: center;
  position: relative;
  animation: slideInFromRight 1.5s ease-out;
  opacity: 0;
}

.input{
  width: 400px;
  height: 40px;
  border-radius: 2rem;
}

.input-email{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  font-size: 50px;
}

.botao{
  margin-top: 30px;
  width: 300px;
  height: 50px;
  border-radius: 50px;
}


@media (max-width: 600px) {
  .container {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
  }
  

  .img {
    
    margin-top: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 50%;
    
  }

  #minhaDiv {
    font-size: 50px;
  }


}


@media (max-width: 900px) {

  .input-email{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  font-size: 25px;
  }

  .input{
  width: 200px;
  height: 20px;
  border-radius: 2rem;
  }

  .botao{
  margin-top: 30px;
  width: 300px;
  height: 25px;
  border-radius: 50px;
  }
}